faiss-cpu
langchain
langchain-community
langchain-groq
langchain-huggingface
langchain-mistralai
langchain-tavily
langchain-text-splitters
langgraph
pypdf
python-dotenv
sentence-transformers
streamlit